name: "Deploy Lambda Edge"

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Print Working Directory
        run: |
          ls -la

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
  
      - name: Install dependencies
        working-directory: src
        run: npm ci --omit=dev

      - name: Package Lambda
        run: |
          cd src
          zip -r ../lambda.zip .

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: lambda
          path: lambda.zip

      - name: List Artifacts
        run: |
          ls -la
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Print Working Directory
        run: |
          ls -la

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: lambda

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1  

      - name: Deploy to S3
        run: |
          ls -la
          aws s3 cp lambda.zip s3://${{ github.event.repository.name }}/lambda.zip